/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=cyrillic-ext");
@font-face {
  font-family: 'gilroy';
  src: url(../fonts/Gilroy-ExtraBold.otf);
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

div {
  font-family: 'Roboto', sans-serif !important;
}

html, body {
  overflow-x: hidden;
  background: #fffcf4;
}

.container {
  width: 1280px;
  padding: 0;
}
.container .row {
  margin: 0;
}
.container .screen-after {
  position: absolute;
  bottom: -35px;
  height: 70px;
  width: 100%;
  left: 0;
  z-index: 5;
}
.container .screen-after .box {
  height: 70px;
  width: 10px;
  margin: 0 auto;
  display: block;
  background: #e6e6e6;
}

.top-bar {
  background: white;
}
.top-bar header {
  height: 100px;
  color: #373f41;
  padding-top: 25px;
}
.top-bar header .im2, .top-bar header .im3 {
  margin: 0 10px;
}
.top-bar header .phones {
  float: right;
  font-size: 12px;
  /*text-align: right;*/
  margin-right: 20px;
}
.top-bar header .phones p {
  line-height: 24px;
}
.top-bar header .phones span {
  font-size: 18px;
  font-weight: bold;
}
.top-bar header .take-call {
  width: 186px;
  height: 44px;
  border: 2px solid #373f41;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  background: none;
  margin-bottom: 10px;
  float: right;
  margin-right: 15px;
}
.recommend{
  display: inline-block;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  margin-left: 42px;
  color: #f7941e;
  font-family: 'gilroy';
  position: relative;
  top: -10px;
}
.free-dostyp{
  position: relative;
  left: -194px;
  display: inline-block;
  top: -32px;
  font-size: 15px;
  transform: rotate(10deg);
  color: #fff;
  font-weight: bold;

}
.p1 img{
  transform: rotate(10deg)
}
.isaak-comment{
  display: inline-block;
  font-size: 14px;
  position: absolute;
  float: left;
  font-weight: 600;
  line-height: 20px;
  padding-top: 4px;
  text-transform: uppercase;
  left: 247px;
  top: 14px;
}
.isaak{
  height: 80px;
  display: inline-block;
  position: absolute;
  top: 10px;
  margin-left: 29px;
  border-radius: 50%;
}
.s-1 {
  background: url(../img/bgtop.jpg) center center no-repeat;
  background-size: cover;
}
.container-fluid{
   padding-right: 0;
   padding-left: 0;
}
.s-bg{
  width: 100%;
  height: 100%;
  background: rgba(50, 56, 104, 0.8);
}
.s-1 .r1 {
  margin: 25px 0;
  text-align: center;
}
.s-1 .r1 p {
  font-size: 23px;
  font-weight: bold;
  color: white;
  line-height: 30px;
  display: inline-block;
  vertical-align: top;
}
.s-1 .r1 .p1 {
  padding-right: 65px;
}
.s-1 .r1 .p2 {
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 0 65px;
}
.s-1 .r1 .p3 {
  padding-left: 65px;
}
.s-1 .big-box {
  border: 15px solid #3a31b2;
  margin: 0 auto;
  max-width: 990px;
  color: white;
  text-align: center;
  height: 270px;
  border-bottom: none;
  position: relative;
  font-family: 'gilroy';
  font-weight: bold;
  background: url(../img/pattern_white.png) repeat;
  padding-top: 35px;
  margin-bottom: 30px;
}
.s-1 .big-box .p1 {
  font-size: 30px;
}
.s-1 .big-box .p2 {
  font-size: 80px;
  letter-spacing: 6px;
  margin: 15px 0 20px;
}
.s-1 .big-box .p3 {
  text-transform: uppercase;
  font-size: 24px;
}
.s-1 .big-box:before {
  content: '';
  height: 46px;
  width: 100%;
  position: absolute;
  bottom: -28px;
  left: 0;
}
.s-1 .r2 {
  position: relative;
}
.s-1 .r2 p {
  font-size: 24px;
  line-height: 30px;
  max-width: 750px;
  margin: 40px auto 20px;
  text-align: center;
  color: white;
  font-weight: bold;
}
.s-1 .r2:before {
  content: '';
  position: absolute;
  width: 100px;
  height: 90px;
  right: 13%;
  bottom: -30px;
}
.s-1 .form {
  padding: 30px;
  background: rgba(255, 255, 255, 0.3);
  margin-top: 30px;
}
.s-1 .form form .input-group {
  width: 300px;
  margin-right: 6px;
}
.s-1 .form form .input-group input {
  width: 300px;
}
.s-1 .scroll-to {
  width: 40px;
  height: 30px;
  background: url(../img/s1arrow.png) center center no-repeat;
  margin: 26px auto 26px;
}

.form {
  color: white;
  text-align: center;
}
.form .input-group {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.form .input-group input {
  padding-left: 45px;
  font-size: 14px;
}
.form .name:before {
  content: '';
  position: absolute;
  width: 24px;
  height: 20px;
  background: url(../img/sprite1.png) 0px 0px no-repeat;
  left: 17px;
  top: 21px;
  z-index: 5;
}
.form .email:before {
  content: '';
  position: absolute;
  width: 24px;
  height: 20px;
  background: url(../img/sprite1.png) 0px -19px no-repeat;
  left: 17px;
  top: 21px;
  z-index: 5;
}
.form .phone:before {
  content: '';
  position: absolute;
  width: 24px;
  height: 20px;
  background: url(../img/sprite1.png) 0px -38px no-repeat;
  left: 17px;
  top: 21px;
  z-index: 5;
}
.form .form-control {
  width: 315px;
  margin-right: 7px;
}
.form input {
  height: 60px;
  border: none;
}
.form .sub {
  width: 300px;
  background: #f7941e;
  text-transform: uppercase;
  font-size: 18px !important;
  font-weight: bold;
  padding: 0 !important;
}
.form .p1 {
  font-size: 18px;
  margin-bottom: 30px;
}
.form .info {
  font-size: 14px;
  opacity: .3;
  margin-top: 15px;
}

.s-title {
  font-family: 'gilroy', sans-serif;
  font-size: 35px;
  text-align: center;
  padding-top: 45px;
  color: #373f41;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 40px;

}
.photo- img{
  width: 50%;
}
.text-size{
  font-size: 25px;
  color: #333;
  line-height: 30px;
}
.s-title span {
  color: #f7941e;
}
.modal form input {
  width: 300px;
  height: 50px;
  margin: 5px 0;
}

.modal form {
  width: 300px;
  display: block;
  margin: 0 auto;
}
.modal form input[type="submit"] {
  width: 300px;
  color: white;
  border: none;
  background: #f7941e;
  text-transform: uppercase;
  font-size: 18px !important;
  font-weight: bold;
  padding: 0 !important;
}
.modal h2 {
  text-align: center;
}
.timer {
  max-width: 460px;
  margin: 0 auto !important;
  /*margin-bottom: 40px;
  .timer-flipchart-face{
  	border-radius: 0 !important;
  	background: #373f41 !important;
  	color: white !important;
  }
  .timer-separator{
  	padding: 0 10px !important;
  }*/
}
.timer ul {
  text-align: center;
}
.timer ul li {
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 96px;
  height: 105px;
  margin: 5px 7px;
}
.timer ul li span {
  width: 96px;
  height: 80px;
  background: url(../img/timer-bg.png) center center no-repeat;
  display: block;
  font-size: 60px;
  letter-spacing: 16px;
  padding: 10px 0 0 6px;
}
.timer ul li .timeRef {
  color: #373f41;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}

.s-2 {
  position: relative;
  padding: 80px 0;
  background: -moz-linear-gradient(45deg, #f5e8f5 0%, #eaf3f5 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #f5e8f5), color-stop(100%, #eaf3f5));
  /* safari4+,che */
  background: -webkit-linear-gradient(45deg, #f5e8f5 0%, #eaf3f5 100%);
  /* safari5.1+,che10+ */
  background: -o-linear-gradient(45deg, #f5e8f5 0%, #eaf3f5 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, #f5e8f5 0%, #eaf3f5 100%);
  /* ie10+ */
  background: linear-gradient(45deg, #f5e8f5 0%, #eaf3f5 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaf3f5', endColorstr='#f5e8f5',GradientType=1 );
  /* ie6-9 */
}
.s-2 .p1 {
  font-size: 24px;
  color: #373f41;
  font-weight: bold;
  line-height: 36px;
  margin: 40px 0;
  text-align: center;
}
.s-2 .p1 span {
  color: #f7941e;
}

.s-3 {
  padding: 90px 0;
  position: relative;
}
.s-3 .s-title {
  margin-bottom: 45px;
}
.s-3 .im {
  position: relative;
  display: block;
}
.s-3 .im img {
  z-index: 3;
  position: relative;
}
.s-3 .row {
  margin-bottom: 40px;
}
.s-3 .im1:before {
  content: '';
  position: absolute;
  width: 650px;
  height: 420px;
  border: 15px solid #7da7d9;
  z-index: 0;
  top: 69px;
  left: 95px;
}
.s-3 .text {
  background: url(../img/pattern.png) repeat, #fffcf4;
  margin-top: 180px;
  padding: 15px 20px 50px;
  z-index: 1;
  height: 200px;
}
.s-3 .text .title {
  font-weight: bold;
  font-size: 36px;
  color: #373f41;
  line-height: 100px;
  position: relative;
}
.s-3 .text .title .num {
  font-family: 'gilroy', sans-serif;
  font-size: 150px;
  color: #3a31b2;
  float: left;
}
.zapovedi{
  color: #f7941e;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}
.s-3 .text .title:before {
  content: '';
  position: absolute;
  left: 87px;
  bottom: 10px;
  width: 75px;
  height: 5px;
  background: #e7ae5c;
}
.s-3 .text .desc {
  font-size: 23px;
  color: #7c8587;
  line-height: 36px;
  margin-left: 86px;
  max-width: 540px;
}
.s-3 .text.t1 {
  margin-left: -50px;
}
.s-3 .text.t5 {
  margin-left: -50px;
  margin-top: 110px;
}
.s-3 .text.left {
  position: relative;
}
.s-3 .text.left .title {
  position: absolute;
  width: 600px;
  top: -85px;
}
.s-3 .text.left .title .num {
  float: right;
  position: absolute;
  right: 0;
  bottom: -50px;
}
.s-3 .text.left .title:before {
  left: 0;
}
.s-3 .text.left .desc {
  margin: 0;
}
.s-3 .text.t2 {
  margin-right: -30px;
  margin-top: 230px;
}
.s-3 .im2:before {
  content: '';
  position: absolute;
  width: 475px;
  height: 340px;
  border: 15px solid #7da7d9;
  z-index: 0;
  top: 131px;
  left: -250px;
}

.s-4 {
  padding: 40px 0 105px;
  height: 579px;
  position: relative;
  box-sizing: border-box;
}
.s-4 p {
  color: #373f41;
  max-width: 770px;
  margin: 0 auto;
  text-align: center;
}
.s-4 .p1 {
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  margin: 55px auto 40px;
  text-align: left;
  border: 3px solid #f7941e;
  padding: 10px 20px;
  box-sizing: content-box;
}
.s-4 .p2 {
  margin-bottom: 40px;
}
.s-4 .p2 span {
  color: #3a31b2;
}
.s-4 .p2, .s-4 .p3 {
  font-size: 18px;
  line-height: 30px;
}
.s-4 .p4 {
  max-width: 1060px;
  width: 1060px;
  height: 100px;
  background: white;
  /* position: absolute; */
  /* bottom: -62px; */
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  margin: 0 auto;
  padding-top: 42px;
}
.s-4 .screen-after {
  position: absolute;
  bottom: -74px;
  height: 125px;
  z-index: 5;
}

.s-5 {
  padding-top: 145px;
  background: url(../img/pattern_white.png) repeat, url(../img/s5bg.jpg) center center no-repeat;
  color: white;
  position: relative;
  padding-bottom: 50px;
}
.s-5 .s-title {
  color: white;
  padding: 0;
}
.s-5 ul {
  text-align: center;
}
.s-5 ul li {
  height: 274px;
  width: 315px;
  background: url(../img/s5listbg.png) center center no-repeat;
  display: inline-block;
  vertical-align: top;
  margin: 30px 15px;
}
.s-5 ul li .icon {
  width: 110px;
  height: 110px;
  background: url(../img/s5sprite.png) 0px 0px no-repeat;
  margin: 20px auto 0;
}
.s-5 ul li .text {
  font-size: 17px;
  font-weight: lighter;
  line-height: 24px;
  margin-top: 20px;
}
.s-5 ul li .text span {
  font-weight: bold;
}
.s-5 ul li .icon.i1 {
  background-position: 0px 0px;
}
.s-5 ul li .icon.i2 {
  background-position: 0px -126px;
}
.s-5 ul li .icon.i3 {
  background-position: 0px -255px;
}
.s-5 ul li .icon.i4 {
  background-position: 0px -382px;
}
.s-5 ul li .icon.i5 {
  background-position: 0px -515px;
}

.s-6 {
  padding: 90px 0;
  position: relative;
}
.s-6 ul {
  text-align: center;
  margin: 70px 0;
}
.s-6 ul li {
  width: 252px;
  display: inline-block;
  vertical-align: top;
  border-right: 1px solid #d7d6d0;
  height: 270px;
  padding-top: 20px;
}
.s-6 ul li .num {
  color: #3a31b2;
  font-size: 100px;
  font-family: 'gilroy', sans-serif;
  font-weight: bold;
}
.s-6 ul li .hr {
  display: inline-block;
  width: 75px;
  height: 5px;
  background: #e7ae5c;
  margin: 10px 0 15px;
}
.s-6 ul li .text {
  font-size: 18px;
  color: #373f41;
  line-height: 24px;
}
.s-6 ul li:last-child {
  border-right: none;
}
.s-6 .info {
  font-size: 24px;
  color: #373f41;
  max-width: 990px;
  margin: 0 auto;
  text-align: center;
  line-height: 30px;
}
.s-6 .info span {
  font-weight: bold;
}

.s-7 {
  padding: 80px 0 130px;
  position: relative;
}
.s-7 .desc {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #373f41;
  line-height: 36px;
  margin: 40px 0;
}
.s-7 #dg-container {
  margin-bottom: 135px;
}
.s-7 .dg-container {
  position: relative;
}
.s-7 .dg-container:before {
  content: '';
  position: absolute;
  width: 90%;
  height: 200px;
  background: url(../img/pattern.png) repeat;
  top: 26%;
  left: 5%;
}

.s-8 {
  padding: 80px 0;
  position: relative;
}
.s-8 .desc {
  font-size: 24px;
  font-weight: bold;
  color: #373f41;
  margin: 30px 0;
  text-align: center;
}
.s-8 .im2 {
  float: right;
}
.s-8 .row {
  position: relative;
}
.s-8 .r2:before {
  content: '';
  width: 1300px;
  height: 520px;
  background: url(../img/pattern.png) repeat;
  position: absolute;
  left: -25%;
  top: 80px;
}
.s-8 .r3 {
  position: relative;
}
.s-8 .r3 .im {
  margin-top: 50px;
  position: relative;
}
.s-8 .r3 .im img {
  float: left;
}
.s-8 .im.i5 img {
  margin: 25px 0 0 160px;
}
.s-8 .r3:before {
  content: '';
  width: 1300px;
  height: 520px;
  background: url(../img/pattern.png) repeat;
  position: absolute;
  right: -25%;
  top: 80px;
}
.s-8 .r4 .im2 {
  margin: 70px 170px 0 0;
}
.s-8 .r4.r2:before {
  top: 40px;
}
.s-8 .r5.r3:before {
  top: 40px;
  right: -7%;
}
.s-8 .info.i2 {
  padding: 0;
}
.s-8 .info.i2 ul {
  margin-top: 80px;
}
.s-8 .info.i2 ul li {
  margin-bottom: 15px;
}
.s-8 .info {
  padding-top: 70px;
  padding-left: 50px;
}
.s-8 .info .name {
  color: #f7941e;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 30px;
}
.s-8 .info .quote {
  color: white;
  background: #1A264E;
  font-size: 18px;
  font-weight: lighter;
  line-height: 24px;
  width: 610px;
  height: 190px;
  padding: 35px;
  position: relative;
  margin-left: -120px;
}
.s-8 .info .quote span {
  width: 50px;
  height: 30px;
  display: inline-block;
  vertical-align: top;
  margin-top: -7px;
}
.s-8 .info .quote:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 15px 13px 0;
  border-color: transparent #1A264E transparent transparent;
  position: absolute;
  left: -14px;
}
.s-14 {
  padding: 120px 0;
  background: #fff;
  margin: 0 auto;

}
.s-14 .stitle {
  margin-bottom: 60px;
}
.s-14 .rev {
  margin-bottom: 20px;
  max-width: 485px;
  margin: 0 auto;
}
.s-14 .rev .text {
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 20px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
  background: #fcfcfc;
}
.s-14 .rev .text .more-btn {
  background: none;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid black;
}
.s-14 .rev img {
  float: left;
  border-radius: 50%;
  height: 90px;
  width: 90px;
  margin-right: 20px;
}
.s-14 .bestler{
  line-height: 20px;
  display: block;
  position: relative;
  top: -33px;
  left: 90px;
  clear: both;
}
.bestler span{
  color: #f7941e;
}
.s-14 .rev .name {
  font-weight: bold;
  line-height: 89px;
  text-align: left;
  font-size: 18px;
  position: relative;
  left: 20px;


}
.stitle span {
  font-weight: bold;
  color: #373f41;
  font-family: 'gilroy' !important;
  text-transform: uppercase;
  font-size: 48px;
}

.s-8 .info ul {
  max-width: 700px;
  margin-top: 40px;
}
.s-8 .info ul li {
  line-height: 24px;
  font-size: 18px;
  color: #7c8587;
  margin-bottom: 25px;
  position: relative;
  padding-left: 30px;
}
.s-8 .info ul li i {
  color: #3a31b2;
  margin-right: 15px;
  position: absolute;
  left: 0;
  top: 0;
}
.s-8 .info ul li span {
  font-weight: bold;
  color: #373f41;
}

.s-9 {
  position: relative;
  padding: 130px 0;
}
.s-9 .desc {
  color: #373f41;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin: 40px 0 70px;
}
.s-9 .im {
  position: relative;
}
.s-9 .im .text {
  font-size: 18px;
  color: #373f41;
  font-weight: 300;
  font-style: italic;
  line-height: 24px;
  background: white;
  width: 390px;
  height: 300px;
  position: absolute;
  bottom: 40px;
  left: 0;
  padding: 20px;
}
.s-9 .im .text span {
  text-align: right;
  font-weight: bold;
  margin-top: 30px;
  display: inline-block;
  float: right;
  font-style: initial;
}
.s-9 .im .text:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 13px 12px 13px;
  border-color: transparent transparent #fff  transparent;
  position: absolute;
  left: 65px;
  top: -12px;
}
.s-9 .info .name {
  color: #f7941e;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 10px;
}
.s-9 .info .info-desc {
  font-size: 24px;
  color: #373f41;
  margin-bottom: 45px;
}
.s-9 .info ul {
  max-width: 710px;
}
.s-9 .info ul li {
  position: relative;
  font-size: 18px;
  color: #373f41;
  line-height: 24px;
  padding-left: 70px;
  margin-bottom: 25px;
}
.info-22{
  opacity: 1;
  line-height: 30px;
  padding: 0 20px;
  font-size: 14px;
  font-weight: normal;
  color: #333;
}
.s-9 .info ul li i {
  color: #3a31b2;
  position: absolute;
  top: 0px;
  left: 40px;
}
.s-9 .info ul li span {
  font-weight: bold;
}
.s-9 .info .quote {
  color: white;
  background: #3a31b2;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  line-height: 24px;
  width: 720px;
  height: 190px;
  padding: 35px;
  position: relative;
  margin-top: 43px;
}
.s-9 .info .quote span {
  width: 50px;
  height: 30px;
  display: inline-block;
  vertical-align: top;
  margin-top: -7px;
}
.s-9 .info .quote .author {
  display: inline-block;
  width: 250px;
  margin-top: 20px;
  background: none;
  text-align: right;
}
.s-9 .info .quote:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 15px 13px 0;
  border-color: transparent #3a31b2 transparent transparent;
  position: absolute;
  left: -15px;
}

.s-10 {
  padding: 125px 0;
  position: relative;
  /*.day:before{
  	content: '';
  	position: absolute;
  	border: 10px solid #e6e6e6;
  	z-index: 0;
  	left: 15px;
  	top: 15px;
  	width: 185px;
  	height: 60px;
  }*/
}
.s-10 .row {
  position: relative;
}
.s-10 .row:before {
  content: '';
  width: 1170px;
  height: 770px;
  position: absolute;
  left: 5%;
  top: 11%;
  background: url(../img/pattern.png) repeat;
}
.s-10 .title-2 {
  font-weight: bold;
  font-size: 36px;
  color: #373f41;
  text-align: center;
  margin: 40px 0 60px;
}
.s-10 .day {
  position: relative;
}
.s-10 .day .text {
  width: 185px;
  height: 60px;
  background: #3a31b2;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  color: white;
  line-height: 60px;
  position: relative;
  margin-bottom: 60px;
  z-index: 2;
}
.s-10 .day .before {
  position: absolute;
  border: 10px solid #e6e6e6;
  z-index: 0;
  left: 15px;
  top: 15px;
  width: 185px;
  height: 60px;
}
.s-10 ul li {
  font-size: 18px;
  color: #373f41;
  margin-bottom: 25px;
  line-height: 24px;
}
.s-10 ul li .icon {
  width: 22px;
  height: 22px;
  background: url(../img/time-icon.png) center center no-repeat;
  display: inline-block;
  vertical-align: top;
}
.s-10 ul li .time {
  font-weight: bold;
  font-size: 18px;
  color: #373f41;
  display: inline-block;
  vertical-align: top;
  width: 140px;
  text-align: center;
}
.s-10 ul li .time.orange {
  color: #f7941e;
}
.s-10 ul li .text {
  display: inline-block;
  vertical-align: top;
  width: 70%;
  line-height: 24px;
}
.s-10 .col-md-6:last-child {
  padding-left: 40px;
}
.s-10 .stlb {
  width: 10px;
  height: 750px;
  background: #e6e6e6;
  margin: 0 auto;
  margin-top: -750px;
}
.s-10 .screen-after {
  height: 135px;
  bottom: -67px;
}
.s-10 .after-box {
  background: #e6e6e6;
  width: 760px;
  height: 135px;
  margin: 0 auto;
  padding-top: 40px;
}
.s-10 .after-box p {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #373f41;
  line-height: 36px;
}
.s-10 .after-box .p1 {
  color: #3a31b2;
}

.s-11 {
  background: url(../img/s11bg.jpg) center center no-repeat;
  padding-top: 170px;
  padding-bottom: 160px;
  position: relative;
}
.s-11 .s-title {
  color: white;
}
.s-11 .desc {
  color: white;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin: 35px 0 65px;
}
.s-11 .dg-container {
  position: relative;
}
.s-11 .dg-container:before {
  content: '';
  width: 1150px;
  height: 500px;
  background: url(../img/pattern_white.png) repeat;
  position: absolute;
  top: 20%;
  left: 5%;
}

.dg-container iframe {
  width: 750px;
  height: 425px;
}
.dg-container img {
  width: 750px;
  max-height: 425px;
}
.dg-container img {
  height: auto;
}
.dg-container .dg-center {
  z-index: 1;
}
.dg-container .nav {
  width: 80px;
  height: 10px;
  background: url(../img/nav-bg.png) center center no-repeat;
  margin: 0 auto;
  margin-top: 50px;
}

.s-12 {
  padding: 110px 0;
  position: relative;
}
.s-12 .s-title {
  margin-bottom: 30px;
}
.s-12 .info {
  margin: 110px 0 0 30px;
}
.s-12 .info p {
  max-width: 640px;
  margin-bottom: 30px;
  font-size: 18px;
  color: #373f41;
  line-height: 24px;
}
.s-12 .info p span {
  font-weight: bold;
}
.s-12 .r2 {
  background: url(../img/pattern.png) repeat;
  padding: 40px 0 70px;
  margin-top: 20px;
}
.s-12 .r2 .p1 {
  font-size: 30px;
  font-weight: bold;
  color: #373f41;
  text-align: center;
  line-height: 36px;
}
.s-12 .r2 .p2 {
  text-align: center;
  font-size: 24px;
  color: #373f41;
  margin-top: 30px;
}
.s-12 .r2 .p2 span {
  font-weight: bold;
}
.s-12 .boxs {
  display: inline-block;
  vertical-align: top;
  width: 625px;
  height: 555px;
  color: white;
  text-align: center;
  padding: 60px;
}
.s-12 .boxs .title {
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}
.s-12 .boxs button {
  width: 335px;
  height: 60px;
  background: white;
  color: #373f41;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0;
}
.s-12 .boxs.b1 {
  background: url(../img/s12box1.jpg) center center no-repeat;
}
.s-12 .boxs.b1 .title {
  margin-bottom: 50px;
}
.s-12 .boxs.b1 .desc {
  text-align: center;
  font-size: 24px;
  line-height: 36px;
}
.s-12 .boxs.b1 .percent {
  font-size: 120px;
  font-family: 'gilroy', sans-serif !important;
  margin: 20px 0;
}
.s-12 .boxs.b2 {
  margin-left: 20px;
  position: relative;
}
.s-12 .boxs.b2 .after {
  font-size: 18px;
  margin-top: 25px;
}
.s-12 .boxs.b2 .p1 {
  font-size: 24px;
  margin: 35px 0 55px;
}
.s-12 .boxs.b2 .p1 span {
  font-family: 'gilroy', sans-serif !important;
  color: #3a31b2;
  font-size: 48px;
}
.s-12 .boxs.b2 .p2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.s-12 .boxs.b2 button {
  margin-top: 20px;
}

.s-13 {
  padding: 70px 0;
  position: relative;
}
.s-13 .title-2 {
  font-weight: bold;
  font-size: 24px;
  color: #373f41;
  text-align: center;
  margin: 30px 0 60px;
}
.s-13 .info {
  border-left: 9px solid #3a31b2;
  padding-left: 70px;
}
.s-13 p.first {
  margin-bottom: 40px;
}
.s-13 p {
  font-size: 20px;
  color: #373f41;
  max-width: 730px;
  line-height: 30px;
}
.s-13 p span {
  font-size: 18px;
  font-weight: bold;
}

.s-14 {
  padding: 70px 0;
  text-align: center;
  position: relative;
}
.s-14 .desc {
  font-size: 24px;
  color: #373f41;
  font-weight: bold;
  text-align: center;
  margin: 45px 0 55px;
}
.s-14 img {
  display: inline-block;
  vertical-align: top;
}
.s-14 .im2 {
  margin: 0 30px;
}
.s-14 .im3 {
  margin-right: 60px;
}

.s-15 {
  height: 700px;
  position: relative;
  padding: 0;
}
.s-15 .map-info {
  width: 100%;
  padding: 90px 0;
  position: absolute;
  top: 0;
  z-index: 5;
  height: 700px;
}
.s-15 .map-info .marker {
  width: 460px;
  height: 150px;
  background: #3a31b2;
  color: white;
  text-align: center;
  padding-top: 30px;
  position: relative;
  margin: 0 auto;
  margin-top: 80px;
}
.s-15 .map-info .marker .title {
  font-size: 30px;
  font-weight: bold;
}
.s-15 .map-info .marker p {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}
.s-15 .map-info .marker:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 17.5px 0 17.5px;
  border-color: #3a31b2 transparent transparent transparent;
  position: absolute;
  bottom: -15px;
  left: 46.5%;
}
.s-15 .map-info .row {
  width: 90%;
  margin: 0 auto;
  margin-top: -40px;
}
.s-15 .map-info .im1 {
  float: left;
}
.s-15 .map-info .im2 {
  float: right;
}
.s-15 .desc {
  font-size: 24px;
  font-weight: bold;
  color: #373f41;
  text-align: center;
  margin: 40px 0;
}
.s-15 #map {
  width: 100%;
  height: 100%;
}

.s-16 {
  padding: 95px 0;
}
.s-16 .desc {
  font-size: 24px;
  font-weight: bold;
  color: #373f41;
  line-height: 36px;
  text-align: center;
  margin: 50px 0;
}
.s-16 .row {
  border: 10px solid #7da7d9;
  height: 395px;
  position: relative;
  margin-bottom: 30px;
}
.s-16 .row .gift {
  width: 250px;
  height: 60px;
  background: #3a31b2;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  color: white;
  line-height: 60px;
  position: relative;
  margin-bottom: 50px;
  margin-top: 75px;
  margin-left: 80px;
}
.s-16 .row .gift:before {
  content: '';
  position: absolute;
  border: 10px solid #e6e6e6;
  z-index: -1;
  left: 15px;
  top: 15px;
  width: 250px;
  height: 60px;
}
.s-16 .row p {
  font-size: 24px;
  margin-left: 80px;
  line-height: 36px;
  color: #373f41;
  max-width: 470px;
}
.s-16 .row p span {
  font-weight: bold;
}
.s-16 .r1:after, .s-16 .r2:after {
  content: '';
  width: 10px;
  height: 30px;
  bottom: -40px;
  left: 49.5%;
  background: #7da7d9;
  position: absolute;
}
.s-16 .row.r1:before {
  content: '';
  height: 280px;
  width: 1400px;
  position: absolute;
  left: -25%;
  top: 15%;
  background: url(../img/pattern.png) repeat;
}
.s-16 .row.r2:before {
  content: '';
  height: 280px;
  width: 1400px;
  position: absolute;
  right: -25%;
  top: 15%;
  background: url(../img/pattern.png) repeat;
}
.s-16 .im1 {
  margin-top: -60px;
}
.s-16 .im2 {
  margin-top: 50px;
}
.s-16 .r4 {
}
.s-14-img-1{
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background: url("../img/Отзывы/1_Ицхак Пинтосевич.jpg") no-repeat center center;
  background-size: cover;
  float: left;
}
.s-14-img-2{
   height: 90px;
  width: 90px;
  border-radius: 50%;
  background: url("../img/Отзывы/2_Елена Анучина.jpg") no-repeat center center;
  background-size: cover;
  float: left;
}
.s-14-img-3{
   height: 90px;
  width: 90px;
  border-radius: 50%;
  background: url("../img/Отзывы/3_Анна Найденко.jpg") no-repeat center center;
  background-size: cover;
  float: left;
}
.s-14-img-4{
   height: 90px;
  width: 90px;
  border-radius: 50%;
  background: url("../img/Отзывы/4_Екатерина Трусова.jpg") no-repeat center center;
  background-size: cover;
  float: left;
}
.s-14-img-5{
   height: 90px;
  width: 90px;
  border-radius: 50%;
  background: url("../img/Отзывы/5_Ирина Клишина.jpg") no-repeat center center;
  background-size: cover;
  float: left;
}
.s-14-img-6{
   height: 90px;
  width: 90px;
  border-radius: 50%;
  background: url("../img/Отзывы/6_Лариса Костина.jpg") no-repeat center center;
  background-size: cover;
  float: left;
}
.s-14-img-7{
   height: 90px;
  width: 90px;
  border-radius: 50%;
  background: url("../img/Отзывы/7_Наталия Лищинецкая.jpg") no-repeat center center;
  background-size: cover;
  float: left;
}
.s-14-img-8{
   height: 90px;
  width: 90px;
  border-radius: 50%;
  background: url("../img/Отзывы/8_Юлия Полканова.jpg") no-repeat center center;
  background-size: cover;
  float: left;
}
.s-17 img {
  float: right;
  margin-right: 100px;
  margin-top: 114px;
}
.books-img{
  height: 550px;
}
.s-17 .row {
  position: relative;
  margin-bottom: 40px;
}
.s-17 .row:before {
  content: '';
  width: 100%;
  height: 854px;
  left: 0;
  background: url(../img/pattern.png) repeat;
  position: absolute;
  z-index: 0;
}
.s-17 .form .p1:before {
  content: '';
  width: 70px;
  height: 190px;
  background: url(../img/form-arrow-2.png) center center no-repeat;
  position: absolute;
  right: -70px;
  bottom: -140px;
}
.s-17 .form {
  max-width: 490px;
  margin-top: 65px;
}
.s-17 .form .p1 {
  font-size: 26px;
  font-weight: bold;
  color: #373f41;
  position: relative;
  max-width: 410px;
  text-align: left;
  margin-left: 45px;
  line-height: 44px;
  margin-top: 20px;
}
.s-17 .form .p1:before {
  content: '';
  width: 70px;
  height: 190px;
  position: absolute;
  right: -70px;
  bottom: -170px;
}
.s-17 .form .sub {
  font-size: 18px;
}
.s-17 .form .input-group {
  width: 400px;
  margin-bottom: 10px;
}
.s-17 .form .input-group input {
  width: 400px;
  border: 1px solid #e1e1e1;
}
.s-17 .form .p2 {
  font-size: 19px;
  color: #373f41;
  text-align: left;
  max-width: 410px;
  margin-left: 45px;
  line-height: 30px;
  margin-bottom: 40px;
}
.s-17 .form .p3 {
  font-size: 22px;
  font-weight: bold;
  color: #373f41;
  margin: 50px 0 25px;
}
.s-17 .form .timer {
  margin-left: -40px;
}
.footer {
  background: url(../img/foot_bg.jpg) center center repeat;
  padding: 30px 0;
}
.footer .take-call {
  width: 186px;
  height: 44px;
  border: 2px solid white;
  color: white;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  background: none;
  margin-bottom: 10px;
  float: right;
}
.footer .phones {
  float: right;
  font-size: 12px;
  text-align: right;
  margin-right: 20px;
  color: white;
}
.footer .phones span {
  font-size: 18px;
  font-weight: bold;
  line-height: 44px;
}
.footer .made-in, .footer .copy {
  color: white;
  line-height: 45px;
}

.s-1-2 .r1-2 {
  padding-top: 30px;
}
.s-1-2 .r1-2 .t1, .s-1-2 .r1-2 .t2, .s-1-2 .r1-2 .t3, .s-1-2 .r1-2 .t4 {
  text-align: left;
  color: white;
  font-weight: bold;
}
.s-1-2 .r1-2 .t1 {
  font-size: 20px;
  margin-top: 30px;
  text-transform: uppercase;
}
.s-1-2 .r1-2 .t2 {
  font-size: 55px;
  letter-spacing: 6px;
  margin: 15px 0 20px;
  color: #f7941e;
  margin: 50px 0;
  font-family: 'gilroy';
  text-align: center;
}
.s-1-2 .r1-2 .t3 {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 50px;
}
.s-1-2 .r1-2 .t4 {
  font-size: 22px;
  margin-top: 50px;
  line-height: 30px;
  position: relative;
}
.s-1-2 .r1-2 .t4:before {
  content: '';
  width: 165px;
  height: 40px;
  background: url(../img/form-arrow-3.png) center center no-repeat;
  position: absolute;
  right: -17px;
  bottom: -7px;
}
.s-1-2 .r2:before {
  display: none;
}
.s-1-2 .form .input-group {
  margin-bottom: 10px;
}
.s-1-2 .form .p1 {
  font-weight: normal;
  padding: 0 20px;
  line-height: 30px;
  font-size: 18px;
}
.s-1-2 .form .p1 span {
  font-weight: bold;
}
.s-1-2 .form .info {
  opacity: 1;
  line-height: 30px;
  padding: 0 20px;
  font-size: 14px;
  font-weight: lighter;
}
.s-1-2 .form .sub {
  font-size: 18px;
}

.thanks .th-1 {
  color: white;
  font-size: 18px;
  font-weight: bold;
  color: #373f41;
  text-align: center;
  min-height: 100px;
  line-height: 100px;
}
.thanks .th-2 {
  color: white;
  text-align: center;
  font-weight: bold;
  padding-top: 40px;
}
.thanks .th-2 .container {
  max-width: 600px;
}
.thanks .th-2 .p1 {
  text-align: right;
  font-size: 30px;
}
.thanks .th-2 .p2 {
  font-size: 80px;
  margin: 15px 0;
  color: #f7941e;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-family: 'gilroy';
}
.thanks .th-2 .p3 {
  letter-spacing: 2px;
  font-size: 24px;
  text-transform: uppercase;
}
.thanks .th-2 .scroll-to {
  width: 40px;
  height: 30px;
  background: url(../img/s1arrow.png) center center no-repeat;
  margin: 40px auto 40px;
}
.thanks .th-3 {
  padding: 80px 0;
  position: relative;
  color: #373f41;
  text-align: center;
  font-size: 24px;
}
.thanks .th-3 .p1 {
  font-weight: bold;
  margin: 35px 0;
}
.thanks .th-3 .p2 {
  font-style: italic;
  font-weight: 300;
}
.thanks .th-3 .p2 span {
  font-weight: bold;
  color: #f7941e;
}
.thanks .th-3 .p3 span {
  color: #f7941e;
  font-weight: bold;
}
.thanks .th-3 img, .thanks .th-3 iframe {
  width: 750px;
  height: 425px;
  display: block;
  margin: 90px auto 50px;
}
.thanks .th-4 {
  /*background: url(../img/s7bg.jpg) center center repeat;*/
  background: #dbdcee;
  padding: 80px 0;
}
.thanks .th-4 ul {
  text-align: center;
  margin-top: 95px;
}
.thanks .th-4 ul li {
  width: 400px;
  background: white;
  display: inline-block;
  vertical-align: top;
  margin: 0 5px;
  padding: 30px;
  height: 1530px;
  position: relative;
}
.thanks .th-4 ul li .title {
  position: relative;
  width: 295px;
  margin: 0 auto;
}
.thanks .th-4 ul li .title .text {
  width: 295px;
  height: 60px;
  background: #3a31b2;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  color: white;
  line-height: 60px;
  position: relative;
  margin-bottom: 60px;
  z-index: 2;
  text-transform: uppercase;
}
.thanks .th-4 ul li .title .before {
  position: absolute;
  border: 10px solid #e6e6e6;
  z-index: 0;
  left: 15px;
  top: 15px;
  width: 295px;
  height: 60px;
}
.thanks .th-4 ul li .title.t1 .text {
  background: #3a31b2;
}
.thanks .th-4 ul li .title.t2 .text {
  background: #31b243;
}
.thanks .th-4 ul li .title.t3 .text {
  background: #b23131;
}
.thanks .th-4 ul li .title-2 {
  font-size: 24px;
  text-align: center;
  color: #f7941e;
  font-weight: bold;
}
.thanks .th-4 ul li .list {
  position: relative;
  font-size: 18px;
  color: #2a3234;
  line-height: 24px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  width: auto;
  padding-left: 30px;
  text-align: left;
}
.thanks .th-4 ul li .list i {
  position: absolute;
  left: 0;
  top: 0;
  color: #3a31b2;
  font-size: 18px;
}
.thanks .th-4 ul li .info {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  padding: 30px 20px 20px 20px;
  width: 400px;
  margin-left: -30px;
  border-top: 1px solid #2a3234;
  border-bottom: 1px solid #2a3234;
  position: absolute;
  bottom: 230px;
}
.thanks .th-4 ul li .info p {
  margin-bottom: 30px;
}
.thanks .th-4 ul li .info p span {
  font-weight: bold;
}
.thanks .th-4 ul li .info p .b {
  font-size: 24px;
}
.thanks .th-4 ul li .info .orange {
  color: #f7941e;
  font-weight: bold;
  text-transform: uppercase;
}
.thanks .th-4 ul li .price {
  margin-top: 30px;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  position: absolute;
  width: 340px;
  bottom: 110px;
}
.thanks .th-4 ul li .price .right {
  text-align: left;
}
.thanks .th-4 ul li .price .big {
  color: #3a31b2;
  font-size: 24px;
}
.thanks .th-4 ul li .price .left {
  text-align: right;
}
.thanks .th-4 ul li.mega {
  box-shadow: 0 0 35px 13px rgba(0, 0, 0, 0.4);
}
.thanks .th-4 a {
  text-transform: uppercase;
  font-size: 18px;
  color: white;
  margin: 20px auto 0;
  width: 335px;
  height: 60px;
  line-height: 60px;
  background: #f7941e;
  display: block;
  border-radius: 0;
  padding: 0;
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.thanks .th-4 a:hover {
  text-decoration: none;
}
.thanks .th-5 {
  position: relative;
  padding: 80px 0;
}
.thanks .th-5 .p1, .thanks .th-5 .p2, .thanks .th-5 .p3 {
  text-align: center;
  color: #373f41;
  margin: 0 auto;
  font-size: 24px;
}
.thanks .th-5 .p1 span, .thanks .th-5 .p2 span, .thanks .th-5 .p3 span {
  font-weight: bold;
}
.thanks .th-5 .p1 {
  margin: 40px auto 30px;
}
.thanks .th-5 .p2 {
  font-size: 18px;
  line-height: 24px;
  max-width: 900px;
}
.thanks .th-5 .p3 {
  line-height: 34px;
  max-width: 985px;
  margin-top: 30px;
}
.thanks .th-5 .boxs {
  width: 620px;
  height: 550px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.thanks .th-5 .boxs .pay {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  margin: 30px 0 20px;
}
.thanks .th-5 .timer {
  margin: 90px auto !important;
}
.thanks .th-5 .boxs.b1 {
  background: url(../img/s12box1.jpg) center center no-repeat;
  padding: 160px 70px;
  color: white !important;
  margin-right: 30px;
}
.thanks .th-5 .boxs.b1 .pay {
  color: #f7941e;
}
.thanks .th-5 .boxs.b1 .bp1 {
  line-height: 36px;
  font-size: 24px;
}
.thanks .th-5 .boxs.b1 .bp1 .b {
  font-weight: bold;
}
.thanks .th-5 .boxs.b1 .bp1 .sm {
  font-size: 18px;
}
.thanks .th-5 .boxs.b1 .bp2 {
  font-size: 24px;
}
.thanks .th-5 .boxs.b1 .bp2 span {
  font-weight: bold;
}
.thanks .th-5 .boxs.b2 {
  padding: 160px 70px;
  color: #373f41;
}
.thanks .th-5 .boxs.b2 .pay {
  color: #3a31b2;
}
.thanks .th-5 .boxs.b2 .bp1 {
  line-height: 36px;
  font-size: 24px;
}
.thanks .th-5 .boxs.b2 .bp1 .b {
  font-weight: bold;
}
.thanks .th-5 .boxs.b2 .bp1 .sm {
  font-size: 18px;
}
.thanks .th-5 .boxs.b2 .bp2 {
  font-size: 24px;
}
.thanks .th-5 .boxs.b2 .bp2 span {
  font-weight: bold;
}
.thanks .th-5 button {
  text-transform: uppercase;
  font-size: 18px;
  color: white;
  margin: 35px auto 0;
  width: 470px;
  height: 60px;
  line-height: 60px;
  background: #f7941e;
  display: block;
  border-radius: 0;
  padding: 0;
}
.thanks .th-5 button a {
  color: white;
}
.thanks .th-6 {
  background: -moz-linear-gradient(45deg, #f5e8f5 0%, #eaf3f5 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #f5e8f5), color-stop(100%, #eaf3f5));
  /* safari4+,che */
  background: -webkit-linear-gradient(45deg, #f5e8f5 0%, #eaf3f5 100%);
  /* safari5.1+,che10+ */
  background: -o-linear-gradient(45deg, #f5e8f5 0%, #eaf3f5 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, #f5e8f5 0%, #eaf3f5 100%);
  /* ie10+ */
  background: linear-gradient(45deg, #f5e8f5 0%, #eaf3f5 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaf3f5', endColorstr='#f5e8f5',GradientType=1 );
  /* ie6-9 */
  padding: 85px 0;
  position: relative;
}
.thanks .th-6 .s-title {
  margin-bottom: 30px;
}
.thanks .th-6 .p1, .thanks .th-6 .p2 {
  max-width: 870px;
  margin: 0 auto;
  display: block;
  position: relative;
  margin-bottom: 35px;
  line-height: 36px;
  font-size: 24px;
  color: #373f41;
  padding-left: 25px;
}
.thanks .th-6 .p1 span, .thanks .th-6 .p2 span {
  font-weight: bold;
}
.thanks .th-6 .p1 .num, .thanks .th-6 .p2 .num {
  position: absolute;
  left: 0;
  top: 0;
  color: #3a31b2;
  font-weight: bold;
}
.thanks .th-7 {
  text-align: center;
  padding: 80px 0;
}
.thanks .th-7 .p1 {
  max-width: 740px;
  margin: 35px auto;
  line-height: 30px;
  font-size: 24px;
  font-weight: bold;
}
.thanks .th-7 .p1 span {
  color: #f7941e;
}
.thanks .th-7 .p2 {
  max-width: 740px;
  font-size: 18px;
  line-height: 24px;
  margin: 0 auto;
}
.thanks .th-7 .p2 span {
  font-weight: bold;
}
.thanks .th-7 button {
  text-transform: uppercase;
  font-size: 18px;
  color: white;
  margin: 35px auto 0;
  width: 470px;
  height: 60px;
  line-height: 60px;
  background: #f7941e;
  display: block;
  border-radius: 0;
  padding: 0;
}
.thanks .th-7 button a {
  color: white;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .thanks .th-1 {
    line-height: 50px;
  }
  .thanks .th-4 ul li {
    margin-top: 30px;
  }
  .thanks .th-5 .boxs {
    margin: 20px auto !important;
    display: block;
  }

  .container {
    width: auto;
  }

  .top-bar header {
    height: auto;
    padding: 25px 15px;
  }
  .top-bar header .take-call {
    margin-bottom: 0;
  }
  .top-bar header .phones {
    margin-top: 15px;
    margin-right: 0;
  }

  .s-1-2 .form .p1 {
    line-height: 24px;
    font-size: 14px;
  }
  .s-1-2 .r1-2 .t2 {
    font-size: 50px;
  }

  .s-1 .r1 {
    text-align: center;
  }
  .s-1 .r1 p {
    font-size: 20px;
  }
  .s-1 .r1 .p1 {
    padding-right: 25px;
  }
  .s-1 .r1 .p2 {
    padding: 0 25px;
  }
  .s-1 .r1 .p3 {
    padding-left: 25px;
  }
  .s-1 .big-box {
    height: 250px;
    padding-top: 25px;
  }
  .s-1 .r2:before {
    right: 8%;

  }
  .s-1 .form form .input-group {
    width: 220px;
  }
  .s-1 .form form .input-group input {
    width: 220px;
  }

  .s-title {
    font-size: 40px;
  }

  .s-3 .im img {
    width: 100%;
    height: auto;
  }
  .s-3 .im:before {
    display: none;
  }
  .s-3 .text {
    margin-top: 60px;
  }
  .s-3 .text.t2 {
    margin-top: 70px;
  }
  .s-3 .text.t5 {
    margin-top: 20px;
  }
  .s-3 .text.left .title {
    width: 100%;
  }
  .s-3 .text.left .title .num {
    right: 20px;
    bottom: -10px;
  }

  .s-4 .p1 {
    margin: 35px auto 20px;
  }
  .s-4 .p4 {
    width: auto;
    padding: 30px 70px;
    line-height: 30px;
    max-width: 800px;
  }

  .s-5 ul li {
    width: 295px;
    margin: 30px 5px;
  }

  .s-6 ul li:nth-child(3n) {
    border-right: none;
  }

  .dg-container nav {
    left: 3% !important;
  }
  .dg-container nav .dg-prev {
    left: 2% !important;
  }
  .dg-container nav .dg-next {
    right: 2% !important;
  }

  .s-8 .im1 {
    width: 450px;
    height: auto;
  }
  .s-8 .info.i1 {
    padding-top: 40px;
  }
  .s-8 .info.i2 ul {
    max-width: 450px;
  }
  .s-8 .info.i3 {
    padding-top: 30px;
    padding-left: 20px;
  }
  .s-8 .info.i3 ul {
    margin-top: 0;
    max-width: 530px;
  }
  .s-8 .info.i3 ul li {
    margin-bottom: 15px;
  }
  .s-8 .r4 .im2 {
    margin: 0;
    margin-top: 70px;
  }
  .s-8 .r4 .info.i4 {
    padding-top: 30px;
    padding-left: 0;
  }
  .s-8 .r4 .info.i4 ul {
    max-width: 530px;
    margin-top: 0;
  }
  .s-8 .r4 .info.i4 ul li {
    margin-bottom: 15px;
  }
  .s-8 .im.i5 img {
    margin: 25px 0 0 70px;
  }
  .s-8 .info.i5 ul {
    margin-top: 70px;
    max-width: 550px;
  }
  .s-8 .info.i5 ul li {
    margin-bottom: 10px;
  }

  .s-9 {
    background-repeat: repeat;
  }
  .s-9 img {
    width: 450px;
    height: auto;
  }
  .s-9 .info .quote {
    width: 550px;
    height: 270px;
  }

  .s-10 .stlb {
    display: none;
  }
  .s-10 .col-md-6:last-child {
    padding-left: 0;
  }
  .s-10 ul li .text {
    width: 65%;
  }

  .s-12 img {
    margin-left: -80px;
  }
  .s-12 .boxs {
    margin: 0 auto 40px !important;
    display: block;
  }

  .s-15 .map-info {
    width: 100%;
  }

  footer .bg {
    padding: 10px 0;
    background: url(../img/foot_bg.jpg) center center no-repeat, #2e2e2e;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .thanks .th-1 {
    line-height: 50px;
  }
  .thanks .th-4 ul li {
    margin-top: 30px;
  }
  .thanks .th-5 .boxs {
    margin: 20px auto !important;
    display: block;
  }

  .container {
    width: auto;
  }

  .top-bar header {
    height: auto;
    padding: 25px 15px;
  }
  .top-bar header .take-call {
    margin-bottom: 0;
    margin-top: 15px;
  }
  .top-bar header .phones {
    margin-top: 15px;
    margin-right: 20px;
  }
  .top-bar header .phones p {
    line-height: 22px;
  }

  .s-1-2 .r1-2 .t4:before {
    display: none;
  }
  .s-1-2 .r1-2 .t2 {
    font-size: 58px;
  }
  .s-1-2 .form {
    margin-top: 30px;
  }

  .s-title {
    font-size: 40px;
  }
  .s-title br {
    display: none;
  }

  .s-1 {
    background: #26214a;
  }
  .s-1 .r1 {
    text-align: center;
  }
  .s-1 .r1 p {
    font-size: 16px;
  }
  .s-1 .r1 .p2 {
    padding: 0 15px;
  }
  .s-1 .r1 .p1 {
    padding-right: 15px;
  }
  .s-1 .r1 .p3 {
    padding-left: 15px;
  }
  .s-1 .r2:before {
    display: none;
  }
  .s-1 .form .input-group {
    margin-bottom: 10px;
  }
  .s-1 .form .info {
    opacity: 1;
  }
  .s-1 .big-box {
    height: 240px;
  }
  .s-1 .big-box .p1 {
    font-size: 25px;
  }
  .s-1 .big-box .p2 {
    font-size: 60px;
  }

  .s-3 .im:before {
    display: none;
  }
  .s-3 .im img {
    margin: 0 auto;
    display: block;
  }
  .s-3 .text {
    margin-top: 30px;
  }
  .s-3 .text .title {
    margin-left: 50px;
  }
  .s-3 .text .title .num {
    float: right;
  }
  .s-3 .text.t2 {
    margin-top: 30px;
  }
  .s-3 .text.t2 .title {
    margin-left: 0;
  }

  .s-4 .p4 {
    width: 700px;
    max-width: 700px;
    padding: 35px 70px;
    line-height: 30px;
  }

  .s-5 {
    background: #211c45;
  }

  .dg-container {
    height: 285px;
  }
  .dg-container .dg-wrapper {
    width: 500px;
    height: 285px;
  }
  .dg-container .dg-wrapper iframe {
    width: 500px;
    height: 300px;
  }
  .dg-container .dg-wrapper img {
    width: 500px;
    height: auto;
  }
  .dg-container nav {
    left: 3% !important;
    bottom: 160px !important;
  }
  .dg-container nav .dg-prev {
    left: 2% !important;
  }
  .dg-container nav .dg-next {
    right: 2% !important;
  }

  .s-8 .info .quote {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .s-8 .info .name {
    text-align: center;
    margin-top: 20px;
  }
  .s-8 .info ul {
    max-width: 500px;
    margin: 0 auto !important;
    display: block;
  }
  .s-8 img {
    margin: 0 auto !important;
    display: block;
    float: none !important;
    max-width: 300px;
    height: auto;
  }

  .s-9 {
    background: #e6edf5;
  }
  .s-9 .im {
    margin: 0 auto;
    max-width: 595px;
  }
  .s-9 .name {
    text-align: center;
  }
  .s-9 .info-desc {
    text-align: center;
  }

  .s-10 .col-md-6 {
    max-width: 700px;
    margin: 0 auto;
  }
  .s-10 .stlb {
    display: none;
  }

  .s-11 .dg-container:before {
    top: -70px !important;
  }

  .s-12 img {
    margin: 0 auto;
    float: none;
  }
  .s-12 .boxs {
    margin: 0 auto 50px !important;
    display: block;
  }

  .s-15 .im1, .s-15 .im2 {
    display: none;
  }

  .s-17 .form {
    margin: 0 auto;
    display: block;
  }

  footer .bg {
    background: #2e2e2e;
  }
  footer .brands {
    border-right: none;
  }
  footer .second-line p.l {
    margin-right: 5px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .thanks .th-1 {
    line-height: 30px;
  }
  .thanks .th-2 .p2 {
    font-size: 30px;
  }
  .thanks .th-3 img, .thanks .th-3 iframe {
    width: 300px;
    display: block;
    margin: 70px auto;
    height: 200px;
  }
  .thanks .th-4 ul li {
    margin-top: 30px;
    width: 300px;
    height: auto;
  }
  .thanks .th-4 ul li .info {
    width: 300px;
    position: relative;
    bottom: initial;
  }
  .thanks .th-4 ul li .price {
    position: relative;
    bottom: initial;
    width: auto;
  }
  .thanks .th-4 ul li .title {
    width: 245px;
  }
  .thanks .th-4 ul li .title .text {
    width: 245px;
    font-size: 30px;
  }
  .thanks .th-4 ul li .title .before {
    width: 245px;
  }
  .thanks .th-4 ul li a {
    width: 255px;
    position: relative;
    bottom: initial;
    left: initial;
  }
  .thanks .th-5 .boxs {
    margin: 20px auto !important;
    display: block;
    width: 300px;
    padding: 30px !important;
    height: auto;
  }
  .thanks .th-5 button {
    width: 255px;
    font-size: 12px;
  }
  .thanks .th-7 button {
    width: 255px;
    font-size: 12px;
  }

  .container {
    width: auto;
  }

  .top-bar header {
    height: auto;
    padding: 25px 15px;
    text-align: center;
  }
  .top-bar header * {
    display: inline-block;
    float: none !important;
    text-align: center;
  }
  .top-bar header .phones p {
    width: 100%;
  }

  .modal form {
    width: 240px;
  }
  .modal form input {
    width: 240px;
  }
  .modal form input[type="submit"] {
    width: 240px;
  }

  .s-1-2 .r1-2 .t4:before {
    display: none;
  }
  .s-1-2 .r1-2 .t2 {
    font-size: 30px;
  }
  .s-1-2 .form form .input-group {
    width: 240px;
  }
  .s-1-2 .form form .input-group input {
    width: 240px;
  }

  .s-1 {
    background: #26214a;
  }
  .s-1 .r1 p {
    text-align: center;
    padding: 0 !important;
    border: none !important;
    display: block;
    font-size: 20px;
  }
  .s-1 .big-box {
    height: auto;
    padding-bottom: 35px;
  }
  .s-1 .big-box .p1 {
    font-size: 21px;
  }
  .s-1 .big-box .p2 {
    font-size: 24px;
  }
  .s-1 .big-box .p3 {
    font-size: 21px;
  }
  .s-1 .r2:before {
    display: none;
  }
  .s-1 .form {
    padding: 20px 10px;
  }
  .s-1 .form form .input-group {
    width: 250px;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .s-1 .form form .input-group input {
    width: 250px;
  }
  .s-1 .form .info {
    opacity: 1;
  }

  .s-title {
    font-size: 34px;
  }
  .s-title br {
    display: none;
  }

  .s-3 .im:before {
    display: none;
  }
  .s-3 .im img {
    width: 300px;
    height: auto;
    margin: 0 auto;
    display: block;
  }
  .s-3 .text {
    margin: 0 auto !important;
    width: 300px;
    padding-left: 0;
  }
  .s-3 .text .title {
    text-align: left;
    font-size: 24px;
    width: 300px !important;
  }
  .s-3 .text .title .num {
    float: right;
    right: 20px !important;
    bottom: -10px !important;
  }
  .s-3 .text .desc {
    margin-left: 0;
  }

  .s-4 {
    background: #dbdcee;
  }
  .s-4 .p4 {
    width: 100%;
    max-width: 100%;
    padding-top: 20px;
    line-height: 27px;
    font-size: 22px;
  }

  .s-5 {
    background: #211c45;
  }
  .s-5 ul li {
    margin: 30px auto;
    width: 295px;
  }

  .dg-container {
    height: 220px;
  }
  .dg-container .dg-wrapper {
    width: 280px;
    height: 160px;
  }
  .dg-container .dg-wrapper iframer {
    width: 280px;
    height: 160px;
  }
  .dg-container .dg-wrapper img {
    width: 280px;
    height: 160px;
  }
  .dg-container nav {
    bottom: 30px !important;
  }
  .dg-container nav .dg-prev {
    left: 30% !important;
  }
  .dg-container nav .dg-next {
    right: 10%  !important;
  }

  .s-7 {
    background: #dbdcee;
  }

  .s-8 .info {
    padding-left: 0;
  }
  .s-8 .info .quote {
    max-width: 610px;
    width: auto;
    min-width: 300px;
    margin: 0 auto;
    height: auto;
  }
  .s-8 img {
    width: 300px;
    margin: 0 auto !important;
    display: block;
    height: auto;
    float: none;
  }

  .s-9 {
    background: #e6edf5;
  }
  .s-9 img {
    width: 300px;
    height: auto;
  }
  .s-9 .im .text {
    width: 300px;
    height: auto;
    bottom: -200px;
  }
  .s-9 .name {
    margin-top: 220px;
  }
  .s-9 .info .quote {
    height: auto;
    width: 300px;
  }

  .s-10 ul li {
    text-align: center;
  }
  .s-10 .stlb {
    display: none;
  }
  .s-10 .after-box {
    width: 300px;
    padding: 15px;
    height: auto;
  }
  .s-10 .after-box p {
    font-size: 20px;
  }

  .s-11 .dg-container:before {
    display: none;
  }

  .s-12 img {
    width: 300px;
    height: auto;
  }
  .s-12 .boxs {
    width: 300px;
    margin: 30px auto !important;
    height: auto;
    background-repeat: repeat;
    padding: 20px;
    display: block;
  }
  .s-12 .boxs button {
    width: auto;
  }
  .s-12 #timere5990ecaed9bfa6a2108c894c6eff2ba0 {
    min-width: 300px !important;
  }
  .s-12 .boxs.b1 .desc {
    font-size: 16px;
  }
  .s-12 .boxs.b2 {
    background: #f7941e;
  }
  .s-12 .boxs.b2 .timer {
    bottom: 240px;
  }
  .s-12 .boxs.b2 button {
    margin-top: 20px;
  }

  .s-13 {
    background: #e5e7f4;
  }

  .s-15 .map-info {
    width: 100%;
  }
  .s-15 .map-info .im1, .s-15 .map-info .im2 {
    display: none;
  }
  .s-15 .map-info .marker {
    width: auto;
    display: none;
    max-width: 460px;
  }

  .s-16 img {
    width: 280px !important;
    margin: 0 auto;
    display: block;
    height: auto;
  }
  .s-16 .row {
    height: auto;
    text-align: center;
    background: none;
  }
  .s-16 .row .gift {
    margin-top: 20px !important;
  }
  .s-16 .row * {
    display: block;
    margin: 0 auto !important;
  }

  .s-17 img {
    width: 300px;
    height: auto;
    margin: 0 auto;
    display: block;
    float: none;
  }
  .s-17 .col-md-6 {
    padding: 0;
  }
  .s-17 .form {
    width: 300px;
    margin: 0 auto;
  }
  .s-17 .form .p1, .s-17 .form .p2 {
    margin-left: 0;
  }
  .s-17 .form .input-group {
    width: 280px;
    margin: 0 auto 10px;
  }
  .s-17 .form .input-group input {
    width: 280px;
  }
  .s-17 .form #timere5990ecaed9bfa6a2108c894c6eff2ba00 {
    min-width: 300px !important;
    margin: 0 auto;
    height: auto;
  }

  footer {
    background: #2e2e2e;
    text-align: center;
    margin-top: 80px;
  }
  footer * {
    display: inline-block;
  }
  footer .bg {
    background: #2e2e2e;
  }
  footer .bg .brands {
    border-right: none;
  }
  footer .second-line {
    text-align: center;
    height: auto;
  }
  footer .second-line p.l {
    float: none !important;
    margin: 0;
    line-height: 30px;
  }
}

.mfrm .error {
    border: 3px solid red !important;
    background: #ffebeb !important;
}

.input-group .form-control {
  z-index: 1 !important;
}