.footer{
  background: var(--background-color);
  &__wrap{
    width: 100%;
    padding: 40px 0;
    border-top: 4px solid #9F9F9F;
    display: flex;
    justify-content: space-between;
    color: var(--main-text-color);
    font-size: 15px;
    @include media-breakpoint-down(md) {
      padding: 20px 0;
    }
    @include media-breakpoint-down(sm) {
      width: 90%;
      margin: 0 auto;
    }
    a {
      color: var(--main-text-color);
      font-family: "ProximaNovaBlack", sans-serif;
    }
  }
}
