@import "_vars";

.header {
  padding-top: 78px;
  margin-bottom: 50px;
  @include media-breakpoint-down(md) {
    width: 100%;
    padding: 20px 0;
    background: rgba(20, 56, 127, 0.5);
  }
  nav{
    @include media-breakpoint-down(md){
      display: none;
    }
  }
  &__hamburger {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    @include media-breakpoint-down(md) {
      display: flex;
    }

    span {
      margin: 5px 0;
      position: relative;
      height: 3px;
      width: 100%;
      background: #fff;
      transition: 200ms ease;
    }

  }

  .menu-active {
    span {
      position: absolute;
      transform: rotate(-45deg);
      transition: 200ms ease;

      &:last-child {
        transform: rotate(45deg);
        //top: 0;
      }
    }

  }

  &__menu {
    list-style: none;
    display: flex;
    margin-bottom: 0;
    padding: 0;
    li {
      a {
        position: relative;
        font-weight: 600;
        font-family: "ProximaNovaSemiBold", sans-serif;
        font-size: 20px;
        color: #fff;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin: 0 20px;
        transition: 300ms ease;
        text-shadow: 1px 0 0 transparent;

        &:before {
          content: '';
          position: absolute;
          transition: 300ms ease;
          height: 6px;
          width: 0;
          bottom: -20px;
          background: var(--action-color);
        }

        &:hover {
          text-shadow: 1px 0 0 #fff;

          &:before {
            width: 100%;
          }
        }

      }

      .active {
        &:before {
          width: 100%;
          text-shadow: 1px 0 0 #fff;
        }
      }
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
    @include media-breakpoint-down(md){
      width: 100%;
      justify-content: space-between;
    }
  }
}