.home-page{
  background: url("../img/home-bg.png") no-repeat center;
  background-size: cover;
  &__content{
    text-align: center;
    h1,h2,h3,h4,h5,h6{
      font-size: 15px;
      text-align: center;
      letter-spacing: 3px;
      text-transform: uppercase;
      font-family: "ProximaNovaBlack", sans-serif;
      margin-bottom: 20px;
      margin-top: 70px;
    }
  }
  .content-wrap{
    @include media-breakpoint-down(md){
      margin-top: 70px;
    }
  }
  .year{
    @include media-breakpoint-down(md){
      display: none;
    }
  }
  .detail{
    margin-bottom: 50px;
  }
  .title-partners{
    text-align: center;
  }
}