@import "_vars";

.header {
  &__body {
    padding-top: 500px;
    background: url("../img/shutterstock.png") center center no-repeat;
    background-size: cover;
    @include media-breakpoint-down(sm) {
      padding-top: 380px;
    }
  }
  &__title {
    padding: 15px 0;
    position: relative;
    background-color: rgba(237,108,67, 0.5);
    &_text {
      margin: 0;
      font-family: 'ProximaNovaBlack', sans-serif;
      font-size: 40px;
      text-transform: uppercase;
      line-height: 1.7;
      color: #fff;
      @include media-breakpoint-down(sm) {
        font-size: 30px;
      }
    }
    &_logo {
      position: absolute;
      top: 105px;
      height: 25px;
      transform: translateX(-70px);
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }
  &__description {
    font-family: 'ProximaNovaLight', sans-serif;
    margin-top: 30px;
    font-size: 40px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #000;
    @include media-breakpoint-down(sm) {
      font-size: 20px;
      line-height: 1.7;
    }
  }
  &__social {
    padding: 120px 0;
    display: flex;
    justify-content: space-between;
    @include media-breakpoint-down(sm) {
      padding: 60px 0;
      max-width: 400px;
      margin: 0 auto;
    }
    &_button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 72px;
      width: 72px;
      border: none;
      background-color: #000;
      padding: 0;
      border-radius: 50%;
      cursor: pointer;
      transition: .4s;
      @include media-breakpoint-down(sm) {
        height: 43px;
        width: 43px;
      }
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
