.main {
  overflow: hidden;
  position: relative;
  width: 100vw;
  margin-top: $nav-bar-height;
  height: 100vh;
  height: calc(100vh - #{$nav-bar-height});
  background-color: $white;
  transition: $cubic-transition;
  transform: scale(1) translate3d(0, 0, 0);
  clip-path: inset(0 0 0 0);
  will-change: width, height, opacity, transform, clip-path;
  z-index: 1;

  &.is-active {
    overflow: hidden;
    height: 100vh;
    height: calc(100vh - #{$nav-bar-height});
    width: 100vw;
    pointer-events: none;
    opacity: 0.25;
    transform: scale(0.9)
    translate3d(60%, 0, 0);

    @media (min-width: $mobile-width) {
      transform: scale(0.9)
      translate3d(40%, 0, 0);
    }
  }

  &.is-transition-out {
    clip-path: inset(0 0 0 100%);
  }
}
