.app-business {
  background: url('../img/dot-form-1.png') center #28C7FE;
  background-size: 100%;
  @include media-breakpoint-down(md){
    background-size: cover;
  }
  &__title {
    color: #fff;
    padding-top: rem(80);
    padding-bottom: rem(67);
    text-align: center;
    font-weight: 400;
    font-size: rem(36);
    line-height: rem(40);
    letter-spacing: -0.24px;
    margin: 0;

    b {
      font-family: "TTNormsExtraBold", sans-serif;
    }

    @include media-breakpoint-down(md) {
      font-size: 24px;
      padding-top: rem(35);
      padding-bottom: rem(15);
    }
  }

  &__wrap {
    position: relative;
    display: flex;
    justify-content: center;

    &:nth-child(3) {
      top: rem(-40);
    }

    &:nth-child(4) {
      top: rem(-80);
    }

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  &__mobile{
    //height: 1887px;
    @include media-breakpoint-down(md){
      .app-business__wrap{
        display: flex;

        &:nth-child(2) {
          top: rem(-20);
        }
        &:nth-child(3) {
          top: rem(-40);
        }

        &:nth-child(4) {
          top: rem(-60);
        }
        &:nth-child(5) {
          top: rem(-80);
        }

        &:nth-child(6) {
          top: rem(-100);
        }
        &:nth-child(7) {
          top: rem(-120);
        }
        &:nth-child(8) {
          top: rem(-140);
        }
        &:nth-child(9) {
          top: rem(-160);
        }
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: rem(210);
    height: rem(238);
    background: url("../img/app-border.png") no-repeat center;
    background-size: contain;
    margin-right: rem(22);

    &:last-child {
      margin-right: 0;
    }

    h1, h2, h3, h4, h5, h6 {
      color: #282828;
      font-family: "TTNormsExtraBold", sans-serif;
      font-size: rem(16);
      line-height: rem(18);
      letter-spacing: 0.4px;
      margin-bottom: 0;
      margin-top: rem(15);
    }

    @include media-breakpoint-down(md) {
      width: rem(160);
      height: rem(177);
      img{
        width: 50px;

      }
      h1, h2, h3, h4, h5, h6{
        font-size: 10px;
        font-weight: 700;
        line-height: 11.11px;
        margin-top: 10px;
        max-width: 100px;
        text-align: center;
        @include media-breakpoint-down(md){
          max-width: none;
        }
      }
    }
  }
}