.s-feedback{
  background: url("../img/dot-bg.png")   #262626;;
  background-size: 100%;
  padding: rem(106) 0;
  *{
    color: #fff;
  }
  &__wrap{
    padding: rem(80) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: url("../img/border-feedback.png") no-repeat;
    background-size: 100%;
    h1,h2,h3,h4,h5,h6{
      font-family: "TTNormsExtraBold", sans-serif;
      font-size: rem(60);
      margin: 0;
      line-height: rem(60);
      margin-bottom: rem(44);
    }
    button{
      padding: rem(27) rem(48);
      border: none;
      box-shadow: 0 0 31px 1px rgba(0, 227, 254, 0.1);
      border-radius: 3px;
      background-color: #01abcc;
      cursor: pointer;
      font-size: rem(21);
      line-height: 23.53px;
      letter-spacing: 0.89px;
      transition: 300ms ease;
      margin-bottom: rem(20);
      &:hover{
        transform: scale(1.03);
        transition: 300ms ease;
      }

    }
    span{
      display: inline-block;
      letter-spacing: 1.2px;
      font-size: rem(24);
      b{
        font-family: "TTNormsExtraBold", sans-serif;
      }
    }
  }
}