@font-face {
  font-family: 'TTNormsBold';
  src: url('../fonts/TTNorms-Bold.woff2') format('woff2'),
  url('../fonts/TTNorms-Bold.woff') format('woff');
}

@font-face {
  font-family: 'TTNormsThin';
  src: url('../fonts/TTNorms-Thin.woff2') format('woff2'),
  url('../fonts/TTNorms-Thin.woff') format('woff');
}

@font-face {
  font-family: 'TTNormsLight';
  src: url('../fonts/TTNorms-Light.woff2') format('woff2'),
  url('../fonts/TTNorms-Light.woff') format('woff');
}

@font-face {
  font-family: 'TTNormsBlack';
  src: url('../fonts/TTNorms-Black.woff2') format('woff2'),
  url('../fonts/TTNorms-Black.woff') format('woff');
}

@font-face {
  font-family: 'TTNormsLight';
  src: url('../fonts/TTNorms-ExtraLight.woff2') format('woff2'),
  url('../fonts/TTNorms-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'TTNormsHeavy';
  src: url('../fonts/TTNorms-Heavy.woff2') format('woff2'),
  url('../fonts/TTNorms-Heavy.woff') format('woff');
}

@font-face {
  font-family: 'TTNormsRegular';
  src: url('../fonts/TTNorms-Regular.woff2') format('woff2'),
  url('../fonts/TTNorms-Regular.woff') format('woff');
}

@font-face {
  font-family: 'TTNormsExtraBold';
  src: url('../fonts/TTNorms-ExtraBold.woff2') format('woff2'),
  url('../fonts/TTNorms-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'TTNormsMedium';
  src: url('../fonts/TTNorms-Medium.woff2') format('woff2'),
  url('../fonts/TTNorms-Medium.woff') format('woff');
}

