.function {
  background: url("../img/dot-bg.png")   #262626;;
  background-size: 100%;
  padding-bottom: rem(100);
  &__title {
    color: #fff;
    padding-top: rem(80);
    padding-bottom: rem(67);
    text-align: center;
    font-weight: 400;
    font-size: rem(36);
    line-height: rem(40);
    b{
      font-family: "TTNormsExtraBold", sans-serif;
    }
  }
  &__content-wrap{
    display: flex;
    flex-wrap: wrap;
  }
  &__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
    img{
      margin-bottom: rem(38);
    }
    h1,h2,h3,h4,h5,h6{
      color: #fff;
      letter-spacing: 0.6px;
      font-size: rem(24);
      font-family: "TTNormsExtraBold",sans-serif;
      line-height: rem(24);
      margin-bottom: rem(15);
    }
    p{
      letter-spacing: 0.9px;
      line-height: rem(36);
      font-size: rem(18);
      color: #7f7f80;

    }
    &:nth-child(odd){
      padding-right: rem(70);
    }
    &:nth-child(even){
      padding-left: rem(70);
    }
  }
}