.list {
  &__title {
    font-size: rem(36);
    font-family: 'TTNormsExtraBold', sans-serif;;
    margin-top: rem(100);
    text-align: center;
    @include media-breakpoint-down(md) {
      font-size: 30px;
      text-align: center;
      line-height: 1;
      letter-spacing: 0.4px;
    }
  }

  &__subtitle {
    text-align: center;
    font-size: rem(24);
    line-height: rem(24);
    letter-spacing: 0.6px;
    margin-bottom: 0;
    font-weight: normal;
    @include media-breakpoint-down(md) {
      font-size: 14px;
      text-align: center;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin-top: rem(70);
    li {
      position: relative;
      display: inline-flex;
      align-items: center;
      padding-left: rem(50);
      padding-right: rem(10);
      margin-bottom: rem(40);
      width: 50%;
      font-size: rem(20);
      line-height: rem(24);
      letter-spacing: 0.5px;

      &:before {
        content: '';
        position: absolute;
        display: inline-block;
        width: rem(43);
        height: rem(39);
        left: 0;
        background: url("../img/icons/list.png") no-repeat center;
      }
    }
  }
  &__btn{
    display: flex;
    padding: rem(22) rem(70);
    border: none;
    background-color: #04aaca;
    font-family: "TTNormsExtraBold", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.9px;
    color: #fff;
    margin: 0 auto;
    cursor: pointer;
    transition: 200ms ease;
    &:hover{
      transform: scale(1.03);
      transition: 200ms ease;
    }
  }
}