.reviews {
  margin-bottom: rem(80);
  @include media-breakpoint-down(md){
    margin-bottom: rem(10);
  }
  &__title {
    font-size: 36px;
    line-height: 25px;
    font-family: "TTNormsExtraBold", sans-serif;
    text-align: center;
    margin-bottom: rem(35);
    @include media-breakpoint-down(md) {
      font-size: rem(14);
      margin-bottom: rem(25);
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

  }

  &__item {
    position: relative;
    background: #f2efef;
    padding: rem(35) rem(45);
    margin-bottom: rem(20);
    margin-right: rem(45);
    width: calc(50% - 23px);
    margin-top: rem(58);
    &:nth-child(even) {
      margin-right: 0;
    }
    @include media-breakpoint-down(md){
      width: 100%;
      margin-right: 0;
      text-align: center;
      padding: rem(115) rem(25) rem(25) rem(25);
    }
  }

  &__header {
    display: flex;

  }

  &__photo {
    position: absolute;
    top: rem(-57);
    width: rem(157);
    height: rem(157);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:after {
      content: "";
      position: absolute;
      width: rem(45);
      height: rem(45);
      background: url("../img/icons/quotes.png") no-repeat center #04aaca;
      border-radius: 50%;
      right: 0;
      top: rem(-7);
    }
    @include media-breakpoint-down(md){
      transform: translateX(-50%);
      left: 50%;
    }
  }

  &__initials {
    margin-left: auto;
    max-width: rem(250);
    display: flex;
    flex-wrap: wrap;
    @include media-breakpoint-down(md){
      margin: auto;
    }
  }

  &__name {
    font-size: 20px;
    letter-spacing: 0.5px;
    font-family: "TTNormsExtraBold", sans-serif;
    margin-bottom: 0;
    line-height: rem(20);
    @include media-breakpoint-down(md){

    }
  }

  &__position {
    font-size: rem(12);
    font-weight: 400;
    letter-spacing: 0.6px;
  }

  &__desk {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px;
    margin-top: rem(40);
    margin-bottom: 0;
    @include media-breakpoint-down(md){
      font-family: "TTNormsLight",sans-serif;
      margin-top: rem(15);
      font-size: rem(13);
      line-height: rem(20);
      letter-spacing: 0.65px;
    }
  }

  &__btn-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: rem(12);
    @include media-breakpoint-down(md){
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__btn-all, &__btn-add {
    cursor: pointer;
    border: 1px solid #e8e8e8;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.8px;
    padding: rem(23) rem(38);
    transition: 300ms ease;
@include media-breakpoint-down(md){
    margin-bottom: rem(20);
}
    &:hover {
      transform: scale(1.03);
      transition: 300ms ease;
    }
  }

  &__btn-add {
    border: 1px solid #04aaca;
    background: #04aaca;
    color: #fff;
  }
}