.successful {
  background: url("../img/successful.png") no-repeat right #262626;
  background-size: 100%;

  * {
    color: #fff;
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    max-width: rem(600);
    padding: rem(65) 0;
  }

  &__title {
    font-size: 35px;
    line-height: rem(40);
    font-weight: 400;
    margin-bottom: rem(20);
    b {
      font-family: "TTNormsExtraBold", sans-serif;
    }
  }
  &__desk{
    p{
      font-size: rem(18);
      line-height: rem(25);
      b{
        font-family: "TTNormsExtraBold", sans-serif;
      }
      span{
        color: #04aaca;
        font-family: "TTNormsExtraBold", sans-serif;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  &__counter{
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    margin-bottom: rem(30);
    margin-top: rem(30);
  }
&__download{
    width: 100%;
  height: 60px;
  background-color: #04aaca;
  border: none;
  color: #fff;
  font-size: 16px;
  font-family: "TTNormsExtraBold", sans-serif;
  letter-spacing: 0.8px;
  transition: 300ms ease;
  cursor: pointer;
  &:hover{
    transform: scale(1.03);
    transition: 300ms ease;
  }
}
}